/* Global  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.ant-input {
  padding: 12px 0;
  padding-left: 16px;
  font-weight: 500;
}

.ant-btn-primary {
  background-color: #19a463 !important;
  height: 49.98px !important;
}